<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.tonyyo11.jamf-reports-community.tick</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/JamfReports</string>
    <key>ProgramArguments</key>
    <array>
        <string>JamfReports</string>
        <string>--tick</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
